.countri {
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgb(61, 61, 61);
}

.country-visited {
    background-color: salmon;
}

.countri2 {
    background-color: rgb(112, 112, 112);
}

.flag {
    display: block;
    margin: 0 auto;
}